{{/*  <article
  class="flex flex-col items-center justify-center text-center {{ if not .Site.Params.homepage.showRecent }}
    h-full
  {{ end }}"
>  */}}
<article class="flex flex-col justify-center {{ if not .Site.Params.homepage.showRecent }}
h-full
{{ end }}">
  <header class="flex flex-col items-center text-center mb-3">
    {{ with .Site.Author.image }}
      {{ $authorImage := resources.Get . }}
      {{ if $authorImage }}
        {{ $authorImage := $authorImage.Fill "288x288" }}
        <img
          class="mb-2 rounded-full w-36 h-36"
          width="144"
          height="144"
          alt="{{ $.Site.Author.name | default "Author" }}"
          src="{{ $authorImage.RelPermalink }}"
        />
      {{ end }}
    {{ end }}
    <h1 class="text-4xl font-extrabold mb-1">
      {{ .Site.Author.name | default .Site.Title }}
    </h1>
    {{ with .Site.Author.headline }}
      <h2 class="text-xl text-neutral-500 dark:text-neutral-400">
        {{ . | markdownify | emojify }}
      </h2>
    {{ end }}
    <div class="mt-1 text-2xl">
      {{ partialCached "author-links.html" . }}
    </div>
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</header>

 {{/*  RESUME CARD EXAMPLE  */}}
{{/*  <section class="justify-center flex">
    <div id="experience" class="border rounded-lg border-4 border-white prose dark:prose-invert px-4">
        <h2 class="section-headline text-center">Experience</h2>
        <div>
          <h3>Example Inc</h3>
          <section class="mb-6">
            <div class="lg:inline-block lg:w-3/12 lg:align-top italic mb-2">
              Jul.&nbsp;2019:
            </div>
            <div class="lg:inline-block lg:w-8/12 w-full">
              Fullstack Developer
            </div>
          </section>
          <section class="mb-6">
            <div class="lg:inline-block lg:w-3/12 lg:align-top italic mb-2">
              Task:
            </div>
            <div class="lg:inline-block lg:w-8/12 w-full">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
              do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat.
            </div>
          </section>
          <section class="mb-6">
            <div class="lg:inline-block lg:w-3/12 lg:align-top italic mb-2">
              Description:
            </div>
            <div class="lg:inline-block lg:w-8/12 w-full">
              Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint
              occaecat cupidatat non proident, sunt in culpa qui officia
              deserunt mollit anim id est laborum.
            </div>
          </section>
          <section class="mb-6">
            <div class="lg:inline-block lg:w-3/12 lg:align-top italic mb-2">
              Tools:
            </div>
            <div class="lg:inline-block lg:w-8/12 w-full">
              <span class="rounded-xl bg-gray-300 px-3">Vue</span>
              <span class="rounded-xl bg-gray-300 px-3">Vuex</span>
              <span class="rounded-xl bg-gray-300 px-3">Bootstrap</span>
              <span class="rounded-xl bg-gray-300 px-3">Docker</span>
              <span class="rounded-xl bg-gray-300 px-3">Git</span>
              <span class="rounded-xl bg-gray-300 px-3">Bitbucket</span>
              <span class="rounded-xl bg-gray-300 px-3">Jira</span>
            </div>
          </section>
        </div>
      </div>
  </section>
</article>  */}}
